<p>
  game-list works!
</p>


<input matInput (keyup)="filterTerm$.next($event.target.value)" placeholder="Filter">

<p *ngIf="(laaderror$ | async)">Helaas, er is iets fout gelopen. De spellen kun niet opgehaald worden. </p>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="gameDataSource | gameFilter: filterTerm " matSort>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let game"> {{game.id}} </td>
    </ng-container>
    <ng-container matColumnDef="naam">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Naam spel </th>
      <td mat-cell *matCellDef="let game"> {{game.naam}} </td>
    </ng-container>
    <ng-container matColumnDef="minSpelers">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Spelers Min</th>
      <td mat-cell *matCellDef="let game"> {{game.minSpelers}} </td>
    </ng-container>
    <ng-container matColumnDef="maxSpelers">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Spelers Max </th>
      <td mat-cell *matCellDef="let game"> {{game.maxSpelers}} </td>
    </ng-container>
    <ng-container matColumnDef="difficulty">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Niveau</th>
      <td mat-cell *matCellDef="let game"> {{game.difficulty}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay" (click)='selectGame(myRowData)'></tr>
  </table>
  <mat-paginator #gamesPaginator [pageSizeOptions]="[5, 15, 30]"></mat-paginator>
</div>
<app-game-detail *ngIf=" selectedGameId" [detailedGameId]="selectedGameId">
</app-game-detail>